/* GENERAL RULES */
:root {
    font-family: "Open Sans", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER (Header.jsx) */
header {
    background-color: rgba(248, 249, 250, 255);
}

header h1 {
    padding: 20px 0 20px 40px;
}

/* MAIN (Main.jsx) */
main {
    padding: 40px;
}

main ul {
    display: flex;
    margin-bottom: 2rem;
    gap: 1rem;
}

main li {
    background-color: rgba(13, 110, 253, 255);
    padding: 1em;
    color: white;
    list-style: none;
    border-radius: 5px;
    cursor: pointer;
}

main div {
    border: solid 1px lightgrey;
    border-radius: 5px;
    padding: 1em;
    width: 50%;
}