/* GENERAL RULES */
:root {
    font-family: "Open Sans", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER (Header.jsx) */
header {
    background-color: rgba(248, 249, 250, 255);
}

header h1 {
    padding: 20px;
}

/* MAIN (Main.jsx) */